</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Girls blog</title>
  </head>
  <body>

    <div class="">
      <h1><a href="#">Django Girls Blog</a></h1>
    </div>

    <div class="">
        <p>published : 14.06.2014, 12:14</p>
        <h2><a href="#">My First Post</a></h2>
        <p>Welcome My place! Please follow my rules.</p>
    </div>

    <div class="">
        <p>published : 14.06.2014, 12:14</p>
        <h2><a href="#">My First Post</a></h2>
        <p>Welcome My place! Please follow my rules.</p>
    </div>

  </body
</html>
